/*
  https://color.adobe.com/Flat-UI-color-theme-2469224/edit/?copy=true&base=1&rule=Custom&selected=4&name=Copy%20of%20Flat%20UI&mode=rgb&rgbvalues=0.172549,0.243137,0.313725,0.905882,0.298039,0.235294,0.92549,0.941176,0.945098,0.203922,0.596078,0.858824,0.160784,0.501961,0.72549&swatchOrder=0,1,2,3,4
  #2C3E50 dark blue
  #E74C3C orange
  #ECF0F1 cream
  #3498DB light blue
  #2980B9 medium blue
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1 {
  color: #2C3E50;
}

a,
a:visited,
a:active,
a:hover {
  color: #E74C3C;
}

.button-pull {
  background: #f1f8fd;
  border-width: 0;
  color: #2C3E50;
  font-size: 30px;
  height: 60px;
  margin: 0;
  opacity: .9;
  padding: 0;
  width: 60px;
  position: absolute;
  text-transform:uppercase;
}


/* .container */
.container {
  display: flex;
  /*transform: translateX(-280px);*/
  transition: transform .3s;
}


.info-panel-open .container {
  /*transform: translateX(calc(-1 * (280px + 400px)));*/
}

/* HEADER */
.header {
  background: #2C3E50;
  border-bottom: 1px solid #E74C3C;
  height: 60px;
  padding: 0 20px;
  flex:0 0 100vw;
}

.app-name {
  color: #ECF0F1;
  font-size: 24px;
  font-weight: 200;
  line-height: 60px;
  margin: 0 0 0 70px;
  padding: 0;
}


/* SIDEBAR */
.sidebar {
  background-color: #3498DB;
  display: block;
  padding-bottom: 20px;
  opacity: .9;
  position: fixed;
  left: 0;
  width: 280px;
  transform: translateX(-280px);
  transition: transform .3s;
  z-index: 2;
}

.sidebar-pull {
  position: absolute;
  right: -60px;
  top: 0px;
}



.nav-open .sidebar {
  transform: translateX(0px);
}


.nav {
  height: calc(100vh - 60px);
  overflow: auto;
}

/* filter */
.filter {
  background-color: #2980B9;
  border-bottom: 1px solid #ECF0F1;
  display: flex;
  height: 60px;
  padding: 10px;
}

.filter-input {
  background-color: #ECF0F1;
  border-width: 0;
  flex: 1 1 auto;
  padding: 10px;
}

/* nav */

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  border-bottom: 1px solid #2980B9;
}

.nav-list a {
  color: #ECF0F1;
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: background-color .2s linear;
}

.nav-list a:hover {
  background-color: #2980B9;
}

.sidebar-error {
  border: 1px solid #ECF0F1;
  background-color: #E74C3C;
  color: #ECF0F1;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.sidebar-error {
  margin-top: 10px;
}

.sidebar-error-button {
  padding: 5px 10px;
}

/*.container {
  transform: translateX(-800px);
}*/

/* MAIN */
.main {
  flex: 0 0 100vw;
  height: calc(100vh - 60px);
}

.main #map {
  height: 100%;
  width: 100%;
}

/* info-panel */

.info-panel {
  background: #f1f8fd;
  height: 100vh;
  opacity: .9;
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  height: calc(100vh - 50px);
  transform: translateY(100vh);
  transition: transform .3s;
  z-index: 3;
}

.info-panel-open .info-panel {
  transform: translateY(60px);
}

.info-panel-scroller {
  height: 100%;
  overflow: auto;
  padding: 20px;
}

.info-panel-country {
  margin: 0 0 20px;;
}

.info-panel-pull {
  top: -60px;
  left: 0;
}

.info-panel-pull img {
  animation: bounce 3s cubic-bezier(1, 0, 0, 1) infinite;
}

.info-panel-flag {
  margin-bottom: 20px;
  width: 250px;
}

.info-panel-item {
  margin-bottom: 10px;
}

.info-panel-item-label {
  color: #2C3E50;
  display: inline-block;
  font-weight: bold;
  text-align: right;
}

/* LOADER */
.loader {
  display: block;
  height: 40px;
  width: 40px;
  margin: 20px auto 0;
  position: relative;
}

/* https://codepen.io/Sirop/pen/AvHqK */
.loader-spinner {
  animation:rotate360 1s linear infinite;
  border-bottom:4px solid transparent;
  border-left:4px solid #ECF0F1;
  border-right: 4px solid #ECF0F1;
  border-radius:50%;
  border-top: 4px solid transparent;
  bottom:0;
  height:40px;
  left:0;
  margin:auto;
  right:0;
  top:0;
  width:40px;
}

@keyframes rotate360 {
  100% {transform:rotate(360deg);}
}

@keyframes bounce {
  0% {
    transform: rotateY(0);
  }
  80% {
    transform: rotateY(10deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media screen and (min-width: 540px) {
  .info-panel-content {
    display: flex;
    align-items: flex-start;
  }

  .info-panel-content img {
    flex: 0 0 250px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {

  .container {
    display: block;
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  .header {
    left: -280px;
    position: absolute;
    width: 280px;
  }

  .app-name {
    margin-left: 0;
  }

  .sidebar {
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0px;
    width: 280px;
    z-index: 500;
    transform: translateX(0);
  }

  .sidebar-pull {
    display: none;
  }

  .main {
    position: absolute;
    right: 0;
    top: 0;
    left: 280px;
    width: calc(100vw - 280px);
  }

  .main #map {
    border-left: 1px solid #E74C3C;
    right: 0;
    top: 0px;
    height: 50vh;
  }

  .info-panel {
    border-left: 1px solid #E74C3C;
    position: absolute;
    padding: 20px;
    left: 280px;
    right: 0px;
    bottom: 0px;
    height: 50vh;
    transform: translateX(0);
    width: calc(100vw - 280px);
  }

  .info-panel-pull {
    display: none;
  }

  .nav {
    height: calc(100vh - 120px);
    overflow: auto;
  }
}

@media screen and (min-width: 1200px) {
  .info-panel {
    height: 40vh;
  }

  .main #map {
    height: 60vh;
  }


@media screen and (min-width: 1400px) {
  .info-panel {
    top: 0px;
    height: 100vh;
    padding: 0;
    width: 300px;
    left: auto;
  }

  .info-panel-content {
    display: block;
  }

  .main #map {
    height: 100vh;
    width: calc(100vw - 280px - 300px)
  }
}
